header{
    font-size: 36px;
    width: 100%;
    margin: 40px auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 34px;
}