* {
    box-sizing: border-box;
}

body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}

header{
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    width: 545px;
    margin: 40px auto 47px;
    text-align: center;
}

main{
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    width: 872px;
    margin: 0 auto;
}

main div{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #99CEA8;
    transition: all .5s;
    transform-style: preserve-3d;
}

div img{
    width: 100px;
}

.timer{
    position: absolute;
    top: 16px;
    right: 16px;
    font-weight: 700;
    font-size: 36px;
    color: #86BD8D;
}



